
/*span.ui-accordion-header-icon.ui-icon.ui-icon-circle-arrow-s {*/
/*    background-image: url("../images/next 3.svg");*/
/*}*/

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

